* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    min-width: 300px;
    z-index: 10;
}

$font-title: "Shrikhand";
$text-desc: #353535;
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$shadow-card: rgba(0, 0, 0, 0.25) 0px 15px 30px -12px;

.header {
    &__top {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1440px;
        margin: auto;

        &--back {
            grid-column-start: 1;
            padding: 1.5rem;
            font-size: 1.3em;
            text-decoration: none;
            color: $text-desc;
            margin: auto;

            @media screen and (min-width: 702px) {
                margin-left: 17px;
            }
        }


        >.logolink {
            grid-column-start: 2;
            padding: 1.5rem 0 1rem 0;
            margin: auto;

            @media screen and (min-width: 702px) {
                justify-self: center;
                align-self: center;
            }

        }
    }

    &__cover {
        width: 100%;
        overflow: hidden;

        >img {
            width: 100%;
            object-fit: cover;
            max-height: 550px;
            transition-duration: 0.4s;

            @media screen and (max-width: 400px) {
                transition-duration: 0.4s;
                transform: scale(1.1);
            }
        }
    }
}

.order {
    position: relative;
    transform: translateY(-80px);
    background-color: #f6f6f6;
    padding: 2.2rem 1.2rem;
    border-radius: 35px 35px 0 0;
    max-width: 1055px;
    //max-height: 1221px;
    margin: auto auto -80px auto;
    transition-duration: 0.4s;
    // display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @media screen and (max-width: 400px) {
        transform: translateY(-50px);
        transition-duration: 0.4s;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;

        &--order {
            margin: 5rem 0 5rem 0;
            border: none;
            border-radius: 100px;
            font-size: 1.1em;
            font-weight: 500;
            background-size: 450%;
            background-image: linear-gradient(to left top,
                    $color-secondary,
                    $color-primary,
                    $color-secondary );
            color: white;
            padding: 1.2rem 4rem;
            transition: 0.3s all ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
                rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;

            &:hover {
                cursor: pointer;
                background-position: right top;
                transition: 0.3s all ease-in-out;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 12px 28px 0px,
                    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
            }
        }
    }

    &__top {
        display: flex;
        justify-content: center;
        gap: 18px;

        >h1 {
            font-family: $font-title;
            font-size: 28px;
            font-weight: 400;
            font-style: normal;
        }

        >.heart {
            transform: translateY(8px);
            font-size: 1.5em;
            padding-right: 1rem;
            height: 18px;
            width: 16px;
            display: flex;
            position: relative;
            justify-content: center;

            >.far+.fas {
                position: absolute;
            }

            >.fas {
                opacity: 0;
                color: $color-primary;
                transition: 0.2s ease-in-out;
            }

            &:hover .far {
                opacity: 0;
                transition-duration: 0.2s;
            }

            &:hover>.fas {
                transform: scale(1.2);
                display: flex;
                position: absolute;
                cursor: pointer;
                opacity: 1;
                transition: 0.2s ease-in-out;
                background-image: linear-gradient(to top right,
                        $color-secondary,
                        $color-primary );
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .repas {
        padding-top: 2rem;

        &__starter {
            display: flex;
            flex-direction: column;
            justify-content: center;

            >.card1 {
                animation-delay: 0.16s;
            }

            >.card2 {
                animation-delay: 0.33s;
            }

            >.card3 {
                animation-delay: 0.66s;
            }

            >.card4 {
                animation-delay: 0.99s;
            }

            >.card5 {
                animation-delay: 1.33s;
            }

            >.card6 {
                animation-delay: 1.66s;
            }

            >.card7 {
                animation-delay: 1.99s;
            }

            >.card8 {
                animation-delay: 2.33s;
            }

            >.card9 {
                animation-delay: 2.66s;
            }

            >.card10 {
                animation-delay: 2.99s;
            }
        }

        &__title {
            >h2 {
                color: #000;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                text-transform: uppercase;
            }

            &--underline {
                width: 48px;
                height: 3px;
                background-color: $color-tertiary;
                margin: 5px 0 1.2rem 0;
            }
        }

        &__card {
            &:hover {
                cursor: pointer;
            }

            &:hover {
                .price {
                    margin-right: 65px;
                    transition: 0.4s ease-in-out;
                }

                .repas__card--info--check {
                    transform: translateX(0px);
                    transition: 0.4s ease-in-out;
                }

                .repas__card--info--checkicon {
                    transform: rotate(2turn);
                    transition: 0.4s;
                }
            }

            max-width:634px;
            max-height: 69px;
            position: relative;
            top: 45px;
            overflow: hidden;
            margin-bottom: 12px;
            padding: 12px;
            animation: move-card 1s cubic-bezier(0, 0, 0, 1) forwards;
            opacity: 0;
            background-color: #fff;
            border-radius: 15px;
            padding: 1rem;
            box-shadow: $shadow-card;
            text-decoration: none;
            color: black;
            margin-bottom: 1rem;

            >h2 {
                overflow: hidden;
                color: #000;

                text-overflow: ellipsis;
                white-space: nowrap;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            &--info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                line-height: 1.8em;

                >.price {
                    padding: 0 1rem 0 0.3rem;
                    position: absolute;
                    background-color: #fff;
                    right: 0;
                    bottom: 0.95rem;
                    font-size: 15.043px;
                    transition: 0.4s ease-in-out;
                    font-weight: 700;
                }

                >p {
                    overflow: hidden;
                    color: #000;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-family: Roboto;
                    font-size: 15.043px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }

                &--check {
                    transform: translateX(70px);
                    transition: 0.4s ease-in-out;
                    position: absolute;
                    right: 0;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $color-tertiary;
                    padding: 0 1.4rem;
                    height: 100%;

                    &icon {
                        font-size: 0.8em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $color-tertiary;
                        background: white;
                        padding: 7px 6px 6px 6px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 600px) and (max-width: 1380px) {
        width: 550px;
        margin: auto;
        margin-bottom: -80px;
    }

    .menu {
        @media screen and (min-width: 1381px) {
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 5rem;
            white-space: nowrap;
            text-overflow: ellipsis;

            // 1380px
        }
    }
}

@keyframes move-card {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;

        transform: translateY(-45px);
    }
}

// Footer
.footer {
    background-color: #353535;
    padding: 22px 25px;

    @media screen and (min-width: 702px) {
        display: flex;
        max-height: 114px;
        max-width: 1440px;
        padding: 30px 25px;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 16px;
        flex-shrink: 0;
    }

    &__block {

        display: flex;
        flex-direction: column;
        align-content: flex-start;
        //max-width: 1440px;      
        font-size: 1.2em;
        line-height: 2rem;

        @media screen and (min-width: 702px) {
            // display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            //display: inline-block;


        }
    }

    &__logo {
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        line-height: 2rem;

        >h2 {
            padding: 1rem 0.5rem 1rem 0;
            transition-duration: 0.2s;
            width: fit-content;
            color: var(--White, #FFF);
            font-family: Shrikhand;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            >a {
                text-decoration: none;
                color: white;
                font-family: $font-title;
                font-weight: 100;
                font-size: 1.5em;
            }

            &:hover {
                cursor: pointer;
                transform: scale(1.02);
                transition-duration: 0.2s;
                background-image: linear-gradient(to right,
                        $color-secondary,
                        $color-primary );
                background-size: 100%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
            }
        }

        @media screen and (min-width: 702px) {
            display: flex;
            width: 139px;
            height: 27px;
            padding-right: 1.418px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            margin-left: 30px // order: -1;
                // margin-left: auto;
                // margin-bottom: -24px;
                //margin-left: 18px;
                //margin: 10px 7px 17px 18px;
                //display: flex;
                // width: 139px;
                // height: 27px;
        }
    }




    &__links {
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        line-height: 2rem;
        color: var(--White, #FFF);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        gap: 7px;

        >a {
            text-decoration: none;
            color: white;
            transition-duration: 0.2s;
            width: fit-content;

            >i {
                font-size: 18px;
            }

            >.fa-utensils {
                padding-right: 1rem;
            }

            >.fa-hands-helping {
                padding-right: 0.55rem;
            }

            &:hover {
                color: $color-primary;
                transition-duration: 0.2s;
            }
        }

        @media screen and (min-width: 702px) {
            display: flex;
            align-items: flex-start;
            gap: 7px;
            flex-direction: row;
        }

    }
}